{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Muhammad Ariq Basyar</title>
    <style media="screen">
      section {
        margin: 0px 20px;
      }
    </style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="icon" type="image/x-icon" href="{% static "me.jpg" %}" />
</head>
<body>
  <section>

    <div style="display:flex; margin-right: 10px; margin-top: 10px;">
      <img src="{% static "me.jpg" %}" alt="me" style="border-radius: 50%; height: 170px;">
    </div>

    <div style="display:inline-block; margin-right: 10px">
      <h1>Hello my name is Ariq</h1>
      <p>NPM ku 1806205110</p>
      <p>Riwayat Pendidikan</p>
      <ul>
        <li>SDIT Ummul Quro</li>
        <li>MTsN 4 Jakarta Selatan</li>
        <li>SMAN 2 Depok</li>
      </ul>
      <p>Hobi: Bermain game, ngoding, bulutangkis</p>
      <p>Deskripsi:</p>
      <p>seorang mahasiswa Fasilkom UI prodi ilmu komputer yang suka bermain game dan ngambis ngoding setiap hari</p>
    </div>
  </section>
</body>
</html>
